In [1]:
#1.A)
names_list = ['Ken', 'Jonas', 'Irene', 'Peter', 'Josef', 'Hans', 'Grethe', 'Holger']
startLetter = 'H'
result = [index for index in names_list if index[0].lower() == startLetter.lower()]
print("The list contains following names with starting with H " + str(result))

The list contains following names with starting with H ['Hans', 'Holger']

In [3]:
#1.B)
numbers = [x**3 for x in range(100)]
print(numbers)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299]

In [51]:
#1.C)
names = ["Jonas", "Grete", "Sigurt", "Peter", "Arne"]
result = [len(name) for name in names]

zipped = zip(result, names)
list(zipped)

[(5, 'Jonas'), (5, 'Grete'), (6, 'Sigurt'), (5, 'Peter'), (4, 'Arne')]

In [98]:
# 1.D)

string ='a1f56ds2a31dsf78asd7f'
count = 0
newstring1 =""  
    
for a in string: 
    if (a.isnumeric()) == False: 
        count+= 1
    else: 
        newstring1+= a  
print(newstring1)

156231787

In [101]:
# 1.E)
roll_combinations = [(d1, d2) for d1 in range(1, 7) for d2 in range(1, 7)]
list(roll_combinations)

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)]

In [52]:
# 2.A)
k = ["Jonas", "Grete", "Sigurt", "Peter", "Arne"]
v = [len(k) for k in names]

dictionary = dict(zip(k, v))
print(dictionary)

{'Jonas': 5, 'Grete': 5, 'Sigurt': 6, 'Peter': 5, 'Arne': 4}

In [2]:
# 2. B)

import math
k = [2,7,6,9,10,5]
v = [math.sqrt(n) for n in k]
dictionary1 = dict(zip(k,v))
print(dictionary1)

{2: 1.4142135623730951, 7: 2.6457513110645907, 6: 2.449489742783178, 9: 3.0, 10: 3.1622776601683795, 5: 2.23606797749979}

In [50]:
# 3
roll_combinations = [(d1, d2) for d1 in range(1, 7) for d2 in range(1, 7)]
list(roll_combinations)
likelihood = 1/len(roll_combinations)
print(likelihood)
print(roll_combinations)

0.027777777777777776
[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6)]